.current-document {
  display: flex;
  height: 92vh;
  width: 28vw;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px;
}

.doc-item {
  display: flex;
  width: 23vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.doc-item p {
  font-size: 1rem;
  line-height: 1.35;
  text-align: justify;
}

.doc-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.doc-bottom-buttons {
  margin: 2rem;
}
