.current-document {
  display: flex;
  height: 92vh;
  width: 28vw;
  flex-direction: column;
  align-items: center;
}

.doc-item {
  display: flex;
  width: 23vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.doc-bottom-buttons {
  margin: 1rem;
}
