.sow-finish-container {
  align-items: center;
}

.sow-finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
}

.document {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  padding: 30px 20px 20px 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.doc-clause {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.doc-clause h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.doc-clause p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.doc-buttons {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
}
